@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shimmer {
  0% { background-position: 0% center; }
  100% { background-position: 200% center; }
}

.animate-shimmer {
  animation: shimmer 3s linear infinite;
}
